.add-task-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  @media (width > 500px) {
    bottom: 3rem;
    right: 32rem;
  }
}

.add-task-button {
  height: 55px;
  width: 55px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid lightgray;

  z-index: 10;
}

.add-task-button img {
  height: 50%;
  width: 50%;
  transform: rotate(90deg);
}
