.add-task-button {
  height: 55px;
  width: 55px;
  background-color: white;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid lightgray;
  position: fixed;
  bottom: 5%;
  right: 10%;
  z-index: 30;
}

.add-task-button img {
  height: 35%;
  width: 35%;
}
