.app-container {
  min-height: 100dvh;
  max-width: 400px;
  margin: 0rem auto;
  position: relative;

  @media (width >= 500px) {
    padding: 0rem 1rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
}
